html {
    min-width: 350px;
    font-display: swap;
}

html.wf-loading * {
    opacity: 0;
}

body {
    display: flex;
    flex-flow: column;
    width: 100%;
    min-height: 100vh;
    background-color: white;
    overflow-x: hidden;
}

h3 {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    margin-top: 0;
}

h4 {
    margin: 0.5rem 0;
    text-align: center;
}

img {
    width: 100%;
    object-fit: cover;
}

picture, img {
    display: block;
}

.object-right {
    object-position: right;
}

.object-left {
    object-position: left;
}

main {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    width: 80%;
    max-width: 1500px;
    margin: 2rem auto 0;
}

main a, main a:visited {
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 1200px) {
    main {
        margin: 1rem auto;
        width: 100%;
    }
}